<template>
  <p>Hello</p>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
  components: {},
})
export default class Hook0Template extends Vue {
  // private data_attribute !: any;

  data() {
    return {};
  }

  // mounted() {

  // }
}
</script>

<style lang="scss" scoped></style>
