<template>
  <hook0-card>
    <hook0-card-header>
      <template #header>Coming soon...</template>
      <template #subtitle
        >Hook0 API is complete and production ready but the UI is still a work in progress...
      </template>
    </hook0-card-header>
  </hook0-card>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component';

export default class ComingSoon extends Vue {}
</script>
